<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <style>
        .row {
            height: 500px;
        }
    </style>
</head>
<body>
{% extends 'store/home.html' %}
{% load static %}
{% block content %}

    <div class="container mt-3">
        <div class="text-center bg-dark border p-5 mt-5">
            <h4 class="text-success">You order was successful. Conformation will be sent to your e-mail address and our
                delivery guy will contact you on your phone to give you the package. Thank you</h4>

            <br>
            <br>

            <a class="btn btn-success w-50" href="http://127.0.0.1:8000/sneakers">Countinue Shopping</a>
        </div>
    </div>

{% endblock content %}

</body>
</html>
